@page "/politica-de-privacidade"
@model PrivacyModel
@{
    ViewData["Title"] = "Política de Privacidade";
    ViewData["Description"] = "WebCars: O seu mercado virtual para negócios automotivos, com carros e motos de qualidade em destaque.";
    ViewData["Keywords"] = "carros, motos, compra, venda";
}


<div class="bg-primary" style="height: 20rem">
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-12 text-center">
                <h1 class="fs-1 fw-bold text-white"><strong>@ViewData["Title"]</strong></h1>
            </div>
        </div>
    </div>
</div>


<div class="bg-white">
    <div class="container py-5">
        <div class="row">
            <div class="col-12">
                <p>
                    A <strong class="text-primary">WebCars</strong>, em compromisso com a sua privacidade, criou esta Política de Privacidade com o intuito de detalhar como são coletados e tratados os dados fornecidos pelo usuário, e as práticas que asseguram a sua privacidade.
                </p>
                <h5 class="text-primary">
                    Dados Pessoais
                </h5>

                <p>
                    A visita ao site é feita de forma anônima, não havendo coleta de dados pessoais, porém, caso o usuário desejar utilizar o formulário de contato, em “Contato”, é necessário informar o nome, endereço de e-mail, telefone e nome da empresa. Os dados coletados serão utilizados exclusivamente para estes fins.
                </p>
                <h5 class="text-primary">
                    Segurança e compartilhamento
                </h5>
                <p>
                    Os dados pessoais coletados não serão compartilhados com terceiros, sendo seu acesso restrito aos integrantes autorizados da <strong class="text-primary">WebCars</strong>. Todos os dados pessoais coletados serão armazenados em segurança durante o tempo necessário para a satisfatória comunicação.
                </p>

                <h5 class="text-primary">
                    O que são cookies?
                </h5>
                <p>
                    Os cookies são pequenos arquivos que um site, quando visitado, coloca no seu dispositivo, através do navegador de internet e servem para identificar o dispositivo utilizado bem como para armazenar informações e preferências do usuário. Nesta política, usamos o termo cookies para designar quaisquer arquivos com essas finalidades.

                    Os cookies utilizados não recolhem informação que identifica diretamente o usuário, eles retêm apenas informação relacionada com as suas preferências.

                    Os cookies recolhem também informações genéricas, como, por exemplo, a forma como os usuários chegam e utilizam o site ou de que lugar do planeta o acessam.

                    A qualquer momento o usuário pode, através do seu navegador de internet (browser), decidir ser notificado sobre a recepção de cookies, bem como bloquear a respectiva entrada no seu sistema.
                </p>

                <h5 class="text-primary">
                    Que tipos de cookies utilizamos?
                </h5>
                <p>
                    Cookies analíticos para entender como os visitantes interagem com o site.
                </p>

                <h5 class="text-primary">
                    Links de terceiros
                </h5>
                <p>
                    O site pode oferecer links de redirecionamento a websites externos, que possuem políticas de privacidade independente. Não sendo responsabilidade da <strong class="text-primary">WebCars</strong> pela forma como esses sites coletam e tratam os dados.
                </p>

                <h5 class="text-primary">
                    Direitos do titular e como exercê-los
                </h5>
                <p>
                    A <strong class="text-primary">WebCars</strong> assegura aos seus usuários os direitos de titular de dados pessoais previstos na Lei Geral de Proteção de Dados Pessoais. Dessa forma, você pode a qualquer tempo:

                </p><ul>
                    <li>
                        Confirmar a existência de tratamento de dados
                    </li>
                    <li>
                        Acessar seus dados
                    </li>
                    <li>
                        Corrigir seus dados
                    </li>
                    <li>
                        Limitar seus dados
                    </li>
                    <li>
                        Solicitar a portabilidade de seus dados
                    </li>
                    <li>
                        Eliminar seus dados
                    </li>
                    <li>
                        Revogar seu consentimento
                    </li>
                    <li>
                        Informar-se sobre a possibilidade de não fornecer seu consentimento
                    </li>
                    <li>
                        Requerimentos e solicitações deverão ser encaminhados pelo e-mail  <strong class="text-primary">webcars@@email.com</strong>
                    </li>
                    <li>
                        Para garantir a sua correta identificação como titular dos dados pessoais objeto da solicitação é possível que solicitemos documentos ou outros meios de comprovar a sua identidade
                    </li>
                </ul>
                <p></p>

                <h5 class="text-primary">
                    Contato
                </h5>
                <p>
                    Quaisquer dúvidas a respeito da Política de Privacidade, coleta e tratamento de dados poderão ser encaminhadas através do e-mail <strong class="text-primary">webcars@@email.com.</strong>
                </p>
            </div>
        </div>
    </div>
</div>