<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <h2 class="text-primary fw-bold fs-4">Categorias</h2>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <div class="card p-0 overflow-hidden  rounded d-flex shadow border-0 align-items-center justify-content-center position-relative">
                <div class="h-100 w-100 position-relative">
                    <img class="w-100 rounded img-hover" style="height: 250px; object-fit:cover" src="/img/categorias/cat-hatches.jpg" />
                    <div class="position-absolute" style="bottom: 1rem;left: 1rem;">
                        <h3 class="fs-4 text-white">
                            Hatches
                        </h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <div class="card p-0 overflow-hidden  rounded d-flex shadow border-0 align-items-center justify-content-center position-relative">
                <div class="h-100 w-100 position-relative">
                    <img class="w-100 rounded img-hover" style="height: 250px; object-fit:cover" src="/img/categorias/cat-pickups.jpg" />
                    <div class="position-absolute" style="bottom: 1rem;left: 1rem;">
                        <h3 class="fs-4 text-white">
                            Picapes
                        </h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <div class="card p-0 overflow-hidden  rounded d-flex shadow border-0 align-items-center justify-content-center position-relative">
                <div class="h-100 w-100 position-relative">
                    <img class="w-100 rounded img-hover" style="height: 250px; object-fit:cover" src="/img/categorias/cat-sedan.jpg" />
                    <div class="position-absolute" style="bottom: 1rem;left: 1rem;">
                        <h3 class="fs-4 text-white">
                            Sedans
                        </h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <div class="card p-0 overflow-hidden  rounded d-flex shadow border-0 align-items-center justify-content-center position-relative">
                <div class="h-100 w-100 position-relative">
                    <img class="w-100 rounded img-hover" style="height: 250px; object-fit:cover" src="/img/categorias/cat-suv.jpg" />
                    <div class="position-absolute" style="bottom: 1rem;left: 1rem;">
                        <h3 class="fs-4 text-white">
                            SUVs
                        </h3>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>