<footer class="footer py-3 bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center text-white">
                &copy; @DateTime.Now.Year - WebCars - Todos os direitos reservados. - <a class="text-decoration-none fw-bold text-white" asp-area="" asp-page="/Privacy">Política de Privacidade</a>
            </div>
            <div class="col-12 text-center text-white mt-1">
                Desenvolvido por: <a class="text-decoration-none fw-bold text-white">PANCH Development</a>
            </div>
        </div>
    </div>
</footer>